<div class="teaching-periods-container">
  <div class="my-6 flex items-center">
    <h1 class="my-0">Teaching periods</h1>
    <span class="grow"></span>
    <button nz-button nzType="primary" (click)="addTeachingPeriod()">
      <span nz-icon nzType="plus"></span>
      Add new teaching period
    </button>
  </div>

  <nz-table
    #periodTable
    nzShowSizeChanger
    [nzData]="teachingPeriods"
    [nzPageSizeOptions]="[10, 25, 100]"
  >
    <thead>
      <tr>
        <th [nzSortFn]="compareActive">Active</th>
        <th [nzSortFn]="compareName">Name</th>
        <th nzSortOrder="descend" [nzSortFn]="compareStartDate">Start Date</th>
        <th [nzSortFn]="compareEndDate">End Date</th>
        <th [nzSortFn]="compareActiveUntil">Active Until</th>
        <th nzRight>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (period of periodTable.data; track period.id) {
        <tr>
          <td><label disabled nz-checkbox [ngModel]="period.active"></label></td>
          <td>{{ period.name }}</td>
          <td>{{ period.startDate | date }}</td>
          <td>{{ period.endDate | date }}</td>
          <td>{{ period.activeUntil | date }}</td>
          <td nzRight>
            <div class="inline-flex">
              <button aria-label="Import units" nz-button (click)="importUnits(period)">
                <span nz-icon nzType="import"></span>
              </button>
              <button
                aria-label="Edit teaching period"
                nz-button
                (click)="selectTeachingPeriod(period)"
              >
                <span nz-icon nzType="edit"></span>
              </button>
            </div>
          </td>
        </tr>
      }
    </tbody>
  </nz-table>
</div>
