<div class="campus-list-container">
  <div class="header mt-6">
    <h1 class="mb-0.5">Campuses</h1>
    <p>Add new campuses or modify existing ones</p>
  </div>

  <form [formGroup]="formData">
    <nz-table #campusTable [nzData]="dataSource.data" [nzShowPagination]="false">
      <thead>
        <tr>
          <th [nzSortFn]="compareName">Name</th>
          <th [nzSortFn]="compareAbbreviation">Abbreviation</th>
          <th [nzSortFn]="compareMode">Default Sync Mode</th>
          <th [nzSortFn]="compareTimezone">Timezone</th>
          <th [nzSortFn]="compareActive">Active</th>
          <th nzRight></th>
        </tr>
      </thead>
      <tbody>
        @for (campus of campusTable.data; track campus.id) {
          <tr>
            <td>
              @if (editing(campus)) {
                <input formControlName="name" nz-input placeholder="Name" required />
              } @else {
                {{ campus.name }}
              }
            </td>
            <td>
              @if (editing(campus)) {
                <input
                  formControlName="abbreviation"
                  nz-input
                  placeholder="Abbreviation"
                  required
                />
              } @else {
                {{ campus.abbreviation }}
              }
            </td>
            <td>
              @if (editing(campus)) {
                <nz-select formControlName="mode" nzPlaceHolder="Default sync mode">
                  @for (mode of syncModes; track mode) {
                    <nz-option [nzLabel]="mode | titlecase" [nzValue]="mode"></nz-option>
                  }
                </nz-select>
              } @else {
                {{ campus.mode | titlecase }}
              }
            </td>
            <td>
              @if (editing(campus)) {
                <input formControlName="timezone" nz-input placeholder="Australia/Melbourne" />
              } @else {
                {{ campus.timezone }}
              }
            </td>
            <td>
              @if (editing(campus)) {
                <label formControlName="active" nz-checkbox></label>
              } @else {
                <label
                  disabled
                  nz-checkbox
                  [ngModel]="campusIsActive(campus)"
                  [ngModelOptions]="{standalone: true}"
                ></label>
              }
            </td>
            <td nzRight>
              @if (editing(campus)) {
                <div class="inline-flex">
                  <button aria-label="Cancel edit" nz-button nzDanger (click)="cancelEdit()">
                    <span nz-icon nzType="close"></span>
                  </button>
                  <button aria-label="Save campus" nz-button nzType="primary" (click)="submit()">
                    <span nz-icon nzType="save"></span>
                  </button>
                  <button
                    aria-label="Delete campus"
                    nz-button
                    nz-popconfirm
                    nzDanger
                    nzPopconfirmTitle="Delete this campus?"
                    (nzOnConfirm)="deleteCampus(campus)"
                  >
                    <span nz-icon nzType="delete"></span>
                  </button>
                </div>
              } @else {
                <button aria-label="Edit campus" nz-button nzType="text" (click)="flagEdit(campus)">
                  <span nz-icon nzType="edit"></span>
                </button>
              }
            </td>
          </tr>
        }
        @if (!selected) {
          <tr>
            <td><input formControlName="name" nz-input placeholder="Name" required /></td>
            <td>
              <input formControlName="abbreviation" nz-input placeholder="Abbreviation" required />
            </td>
            <td>
              <nz-select class="w-full" formControlName="mode" nzPlaceHolder="Default sync mode">
                @for (mode of syncModes; track mode) {
                  <nz-option [nzLabel]="mode | titlecase" [nzValue]="mode"></nz-option>
                }
              </nz-select>
            </td>
            <td><input formControlName="timezone" nz-input placeholder="Australia/Melbourne" /></td>
            <td><label formControlName="active" nz-checkbox></label></td>
            <td nzRight>
              <button aria-label="Add campus" nz-button nzType="primary" (click)="submit()">
                <span nz-icon nzType="plus"></span>
              </button>
            </td>
          </tr>
        }
      </tbody>
    </nz-table>
  </form>
</div>
