<div class="action-log-container">
  <div class="my-6 flex items-center">
    <h1>Turnitin Actions</h1>
    <span class="flex-grow"></span>
    <nz-input-group nzPrefixIcon="search">
      <input nz-input placeholder="Filter actions" [(ngModel)]="filter" />
    </nz-input-group>
  </div>

  <nz-table #actionTable class="f-table selectable" nzShowSizeChanger [nzData]="filteredActions">
    <thead>
      <tr>
        <th [nzSortFn]="compareType">Action Type</th>
        <th [nzSortFn]="compareLastRun">Last Run</th>
        <th [nzSortFn]="compareRetries">Retries</th>
        <th>Retry?</th>
        <th>Error Message</th>
        <th nzRight></th>
      </tr>
    </thead>
    <tbody>
      @for (action of actionTable.data; track action.id) {
        <tr [class.ant-table-row-selected]="selectedTaskDefinition === action">
          <td>{{ action.description }}</td>
          <td>{{ action.lastRun ? (action.lastRun | date: 'd LLL y') : '' }}</td>
          <td>{{ action.retries }}</td>
          <td>
            <nz-tag [nzColor]="action.retry ? 'processing' : 'default'">
              {{ action.retry ? 'Queued' : 'No' }}
            </nz-tag>
          </td>
          <td>{{ action.errorMessage }}</td>
          <td nzRight>
            @if (!(action.complete || action.retry)) {
              <button
                aria-label="Retry action"
                nz-button
                nzType="primary"
                (click)="retryAction(action)"
              >
                <span nz-icon nzType="redo"></span>
                Retry
              </button>
            }
          </td>
        </tr>
      }
    </tbody>
  </nz-table>
</div>
