<form
  #createUnitForm="ngForm"
  nz-form
  nzLayout="vertical"
  (ngSubmit)="createUnit(createUnitForm.value)"
>
  <nz-form-item>
    <nz-form-label nzRequired>Unit Code</nz-form-label>
    <nz-form-control>
      <input name="unitCode" ngModel nz-input placeholder="COS123456" required />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired>Unit Name</nz-form-label>
    <nz-form-control>
      <input name="unitName" ngModel nz-input placeholder="Introduction to OnTrack" required />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired>Teaching Period</nz-form-label>
    <nz-form-control>
      <nz-select
        class="w-full"
        name="selectedTeachingPeriod"
        ngModel
        nzPlaceHolder="Select a teaching period"
        (ngModelChange)="handleChangeTeachingPeriod($event)"
      >
        <nz-option nzLabel="Custom teaching period" nzValue="custom"></nz-option>
        @for (tp of teachingPeriods; track tp.id) {
          <nz-option [nzLabel]="tp.name" [nzValue]="tp.id"></nz-option>
        }
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  @if (showDates) {
    <nz-form-item>
      <nz-form-label nzRequired>Date range</nz-form-label>
      <nz-form-control nzExtra="DD/MM/YYYY – DD/MM/YYYY">
        <nz-range-picker
          class="w-full"
          name="customDateRange"
          nzFormat="dd/MM/yyyy"
          [(ngModel)]="dateRange"
        ></nz-range-picker>
      </nz-form-control>
    </nz-form-item>
  }

  <div class="flex justify-end">
    <button nz-button nzType="primary" [disabled]="createUnitForm.invalid">Create</button>
  </div>
</form>
