<div class="activity-type-list-container">
  <div class="header mt-6">
    <h1 class="mb-0.5">Activities</h1>
    <p>Add new activities or modify existing ones</p>
  </div>

  @if (loadingActivities) {
    <nz-skeleton active [nzParagraph]="{rows: 3}"></nz-skeleton>
  } @else {
    <form [formGroup]="formData">
      <nz-table #activityTable [nzData]="dataSource.data" [nzShowPagination]="false">
        <thead>
          <tr>
            <th [nzSortFn]="compareName">Name</th>
            <th [nzSortFn]="compareAbbreviation">Abbreviation</th>
            <th nzRight></th>
          </tr>
        </thead>
        <tbody>
          @for (activityType of activityTable.data; track activityType.id) {
            <tr>
              <td>
                @if (editing(activityType)) {
                  <input formControlName="name" nz-input placeholder="Name" required />
                } @else {
                  {{ activityType.name }}
                }
              </td>
              <td>
                @if (editing(activityType)) {
                  <input
                    formControlName="abbreviation"
                    nz-input
                    placeholder="Abbreviation"
                    required
                  />
                } @else {
                  {{ activityType.abbreviation }}
                }
              </td>
              <td nzRight>
                @if (editing(activityType)) {
                  <div class="inline-flex">
                    <button aria-label="Cancel edit" nz-button nzDanger (click)="cancelEdit()">
                      <span nz-icon nzType="close"></span>
                    </button>
                    <button aria-label="Save changes" nz-button nzType="primary" (click)="submit()">
                      <span nz-icon nzType="save"></span>
                    </button>
                    <button
                      aria-label="Delete activity type"
                      nz-button
                      nz-popconfirm
                      nzDanger
                      nzPopconfirmTitle="Delete this activity type?"
                      (nzOnConfirm)="deleteActivity(activityType)"
                    >
                      <span nz-icon nzType="delete"></span>
                    </button>
                  </div>
                } @else {
                  <button
                    aria-label="Edit activity type"
                    nz-button
                    nzType="text"
                    (click)="flagEdit(activityType)"
                  >
                    <span nz-icon nzType="edit"></span>
                  </button>
                }
              </td>
            </tr>
          }
          @if (!selected) {
            <tr>
              <td><input formControlName="name" nz-input placeholder="Name" required /></td>
              <td>
                <input
                  formControlName="abbreviation"
                  nz-input
                  placeholder="Abbreviation"
                  required
                />
              </td>
              <td nzRight>
                <button
                  aria-label="Add activity type"
                  nz-button
                  nzType="primary"
                  (click)="submit()"
                >
                  <span nz-icon nzType="plus"></span>
                </button>
              </td>
            </tr>
          }
        </tbody>
      </nz-table>
    </form>
  }
</div>
