<div class="table-padding">
  <div class="header-spacer flex items-center">
    <div>
      <h3>{{ externalName }} Users</h3>
      <h3>Users Administration View</h3>
    </div>
    <span class="flex-grow"></span>
    <nz-input-group nzPrefixIcon="search">
      <input nz-input placeholder="Search users" [(ngModel)]="filter" />
    </nz-input-group>
  </div>

  <nz-table
    #usersTable
    class="f-table selectable"
    nzShowSizeChanger
    [nzData]="filteredUsers"
    [nzPageSizeOptions]="[10, 15, 20, 25]"
  >
    <thead>
      <tr>
        <th></th>
        <th [nzSortFn]="compareFirstName">First Name</th>
        <th [nzSortFn]="compareLastName">Last Name</th>
        <th [nzSortFn]="compareUsername">Username</th>
        <th [nzSortFn]="compareEmail">Email</th>
        <th [nzSortFn]="compareSystemRole">System Role</th>
      </tr>
    </thead>
    <tbody>
      @for (user of usersTable.data; track user.id) {
        <tr (click)="showUserModal(user)">
          <td><user-icon [size]="30" [user]="user"></user-icon></td>
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.username }}</td>
          <td>
            <a href="mailto:{{ user.email }}" (click)="$event.stopPropagation()">{{
              user.email
            }}</a>
          </td>
          <td>
            <nz-tag>{{ user.systemRole }}</nz-tag>
          </td>
        </tr>
      }
    </tbody>
  </nz-table>

  <div class="flex justify-end pt-4">
    <button nz-button nzType="primary" (click)="showUserModal()">Add New User</button>
  </div>

  <nz-collapse class="mt-5">
    <nz-collapse-panel nzHeader="Bulk users operations">
      <div class="flex flex-row">
        <div class="max-w-2xl">
          <f-file-drop
            accept=".csv"
            desiredFileName="users.csv"
            mode="endpoint"
            [endpoint]="uploadEndpoint"
            [multiple]="false"
            (uploadSuccess)="onUserUploadSuccess($event)"
          ></f-file-drop>
        </div>
        <div class="grow"></div>
        <button
          aria-label="Download all users csv"
          nz-button
          nzType="primary"
          (click)="downloadUsers()"
        >
          Download all users CSV
          <span nz-icon nzType="download"></span>
        </button>
      </div>
    </nz-collapse-panel>
  </nz-collapse>
</div>
